## 1. **Import libraries and load dataset**

**Description:**  
This block imports essential Python libraries, defines the dataset file path, loads the CSV file into a DataFrame, and displays the first few rows to verify that the dataset has been loaded correctly.

In [1]:
import pandas as pd
import numpy as np

file_path = r"C:\Users\DELL\Desktop\National_unit_dataset\National Unit-data (1).csv"

df = pd.read_csv(file_path)

df.head()

,ISO3,Name,Admin Level,Metric,Units,Year,Value
0,AFG,Afghanistan,admin0,Incidence Rate,Cases per Thousand,2000,2.019862
1,AFG,Afghanistan,admin0,Incidence Rate,Cases per Thousand,2001,1.534821
2,AFG,Afghanistan,admin0,Incidence Rate,Cases per Thousand,2002,21.931296
3,AFG,Afghanistan,admin0,Incidence Rate,Cases per Thousand,2003,11.096928
4,AFG,Afghanistan,admin0,Incidence Rate,Cases per Thousand,2004,3.195638

## 2. **Inspect dataset structure**

**Description:**  
This block outputs the dataset’s dimensions, data types for each column, and a concise summary of the dataset to understand its overall structure.

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7950 entries, 0 to 7949
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ISO3         7950 non-null   object
 1   Name         7950 non-null   object
 2   Admin Level  7950 non-null   object
 3   Metric       7950 non-null   object
 4   Units        7950 non-null   object
 5   Year         7950 non-null   int64
 6   Value        7950 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 434.9+ KB

## 3. **Check number of rows and columns**

**Description:**  
This block displays the total number of rows and columns in the dataset, providing a quick understanding of its size.

In [3]:
df.shape

(7950, 7)

## 4. **Preview random samples**

**Description:**  
This block displays a random selection of rows from the dataset, allowing you to quickly assess data consistency and detect irregularities.

In [5]:
df.sample(10)

,ISO3,Name,Admin Level,Metric,Units,Year,Value
2038,ECU,Ecuador,admin0,Incidence Rate,Cases per Thousand,2013,0.018500
565,BFA,Burkina Faso,admin0,Infection Prevalence,per 100 Children,2015,39.169549
1144,CHN,China,admin0,Incidence Rate,Cases per Thousand,2019,0.000000
1989,DZA,Algeria,admin0,Infection Prevalence,per 100 Children,2014,0.000000
3917,LKA,Sri Lanka,admin0,Incidence Rate,Cases per Thousand,2017,0.000000
6275,SOM,Somalia,admin0,Mortality Rate,Deaths per 100 Thousand,2000,44.222025
7588,VUT,Vanuatu,admin0,Incidence Rate,Cases per Thousand,2013,9.369842
5204,PAK,Pakistan,admin0,Infection Prevalence,per 100 Children,2004,0.142487
4737,NAM,Namibia,admin0,Incidence Rate,Cases per Thousand,2012,0.322787
3641,KHM,Cambodia,admin0,Infection Prevalence,per 100 Children,2016,0.209668

## 5. **Check for missing values**

**Description:**  
This block reports the number of missing values in each column, helping you identify fields that may require cleaning or imputation.

In [6]:
df.isnull().sum()

ISO3           0
Name           0
Admin Level    0
Metric         0
Units          0
Year           0
Value          0
dtype: int64

## 6. **List all unique countries in the dataset**

**Description:**  
This block returns all unique country names contained in the dataset, allowing you to verify geographic coverage and detect any inconsistencies in country labeling.

In [7]:
df['Name'].unique()

array(['Afghanistan', 'Angola', 'Argentina', 'Armenia', 'Azerbaijan',
       'Burundi', 'Benin', 'Burkina Faso', 'Bangladesh', 'Belize',
       'Bolivia', 'Brazil', 'Bhutan', 'Botswana',
       'Central African Republic', 'China', "Côte d'Ivoire", 'Cameroon',
       'Democratic Republic of the Congo', 'Congo', 'Colombia', 'Comoros',
       'Cape Verde', 'Costa Rica', 'Djibouti', 'Dominican Republic',
       'Algeria', 'Ecuador', 'Eritrea', 'Ethiopia', 'Gabon', 'Georgia',
       'Ghana', 'Guinea', 'Gambia', 'Guinea-Bissau', 'Equatorial Guinea',
       'Guatemala', 'French Guiana', 'Guyana', 'Honduras', 'Haiti',
       'Indonesia', 'India', 'Iran', 'Iraq', 'Kenya', 'Kyrgyzstan',
       'Cambodia', 'South Korea', 'Laos', 'Liberia', 'Sri Lanka',
       'Morocco', 'Madagascar', 'Mexico', 'Mali', 'Myanmar', 'Mozambique',
       'Mauritania', 'Malawi', 'Malaysia', 'Mayotte', 'Namibia', 'Niger',
       'Nigeria', 'Nicaragua', 'Nepal', 'Oman', 'Pakistan', 'Panama',
       'Peru', 'Philippines', 'Papua New Guinea', 'North Korea',
       'Paraguay', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Solomon Islands', 'Sierra Leone', 'El Salvador', 'Somalia',
       'South Sudan', 'Sao Tome And Principe', 'Suriname', 'Eswatini',
       'Syria', 'Chad', 'Togo', 'Thailand', 'Tajikistan', 'Turkmenistan',
       'Timor-Leste', 'Turkey', 'Tanzania', 'Uganda', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Vanuatu', 'Yemen', 'South Africa',
       'Zambia', 'Zimbabwe'], dtype=object)

## 7. **Create a list of West African countries**

**Description:**  
This block defines a list of ECOWAS/West African countries that will later be used to filter and extract only the relevant subset of records from your dataset.

In [10]:
west_africa = [
    'Nigeria', 'Ghana', 'Benin', 'Togo', 'Burkina Faso', 'Mali', 'Niger',
    'Senegal', 'Sierra Leone', 'Liberia', 'Guinea', 'Guinea-Bissau',
    'Cape Verde', 'The Gambia', 'Côte d\'Ivoire'
]

## 8. **Filter the dataset to include only these countries**

**Description:**  
This block filters the full dataset using the predefined West African country list and returns a smaller DataFrame containing only those countries, including Nigeria.

In [11]:
df_wa = df[df['Name'].isin(west_africa)].copy()
df_wa.head()

,ISO3,Name,Admin Level,Metric,Units,Year,Value
450,BEN,Benin,admin0,Incidence Rate,Cases per Thousand,2000,412.950363
451,BEN,Benin,admin0,Incidence Rate,Cases per Thousand,2001,428.793522
452,BEN,Benin,admin0,Incidence Rate,Cases per Thousand,2002,446.912953
453,BEN,Benin,admin0,Incidence Rate,Cases per Thousand,2003,466.337019
454,BEN,Benin,admin0,Incidence Rate,Cases per Thousand,2004,488.620464

## 9. **Confirm country coverage**

**Description:**  
This block verifies whether all predefined West African countries appear in the filtered dataset, helping you identify any countries that may be missing from the data.

In [12]:
df_wa['Name'].unique()

array(['Benin', 'Burkina Faso', "Côte d'Ivoire", 'Cape Verde', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Liberia', 'Mali', 'Niger', 'Nigeria',
       'Senegal', 'Sierra Leone', 'Togo'], dtype=object)

## 10. **Extract Nigeria-only data**

**Description:**  
This block isolates all records related to Nigeria from the dataset, creating a focused subset that will be used for detailed exploratory data analysis.

In [13]:
df_nigeria = df_wa[df_wa['Name'] == 'Nigeria'].copy()
df_nigeria.head()

,ISO3,Name,Admin Level,Metric,Units,Year,Value
4875,NGA,Nigeria,admin0,Incidence Rate,Cases per Thousand,2000,397.786546
4876,NGA,Nigeria,admin0,Incidence Rate,Cases per Thousand,2001,398.181894
4877,NGA,Nigeria,admin0,Incidence Rate,Cases per Thousand,2002,405.543817
4878,NGA,Nigeria,admin0,Incidence Rate,Cases per Thousand,2003,412.317245
4879,NGA,Nigeria,admin0,Incidence Rate,Cases per Thousand,2004,418.711528

## 11. **Sort dataset by country and year**

**Description:**  
This block orders the dataset by country and then by year, ensuring that computations such as rolling averages, year-to-year changes, and trend analyses are performed in the correct chronological sequence.

In [14]:
df_wa = df_wa.sort_values(by=['Name', 'Year']).reset_index(drop=True)

## 12. **Year-to-Year Percentage Change**

**Description:**  
This block computes the annual percentage change in malaria incidence for each country, enabling you to analyze the direction and magnitude of shifts from one year to the next.

In [15]:
df_wa['pct_change'] = df_wa.groupby('Name')['Value'].pct_change() * 100

## 13. **3-Year Rolling Average**

**Description:**  
This block calculates a three-year rolling average of malaria incidence, reducing short-term volatility and highlighting long-term epidemiological trends.

In [16]:
df_wa['rolling_avg_3yr'] = df_wa.groupby('Name')['Value'].rolling(3).mean().reset_index(0, drop=True)

## 14. **Ranking Countries by Incidence per Year**

**Description:**  
This block ranks all countries annually based on their malaria incidence, allowing you to identify which countries recorded the highest or lowest incidence rates in each specific year.

In [17]:
df_wa['rank_in_west_africa'] = df_wa.groupby('Year')['Value'].rank(ascending=False)

## 15. Add Region Label

In [18]:
df_wa['Region'] = 'West Africa'

In [19]:
df_wa.head(10)

,ISO3,Name,Admin Level,Metric,Units,Year,Value,pct_change,rolling_avg_3yr,rank_in_west_africa,Region
0,BEN,Benin,admin0,Incidence Rate,Cases per Thousand,2000,412.950363,NaN,NaN,9.0,West Africa
1,BEN,Benin,admin0,Infection Prevalence,per 100 Children,2000,36.705707,-91.111351,NaN,37.0,West Africa
2,BEN,Benin,admin0,Mortality Rate,Deaths per 100 Thousand,2000,101.213010,175.741891,183.623027,25.0,West Africa
3,BEN,Benin,admin0,Incidence Rate,Cases per Thousand,2001,428.793522,323.654551,188.904079,7.0,West Africa
4,BEN,Benin,admin0,Infection Prevalence,per 100 Children,2001,39.699359,-90.741614,189.901963,36.0,West Africa
5,BEN,Benin,admin0,Mortality Rate,Deaths per 100 Thousand,2001,112.711376,183.912335,193.734752,22.0,West Africa
6,BEN,Benin,admin0,Incidence Rate,Cases per Thousand,2002,446.912953,296.510955,199.774562,4.0,West Africa
7,BEN,Benin,admin0,Infection Prevalence,per 100 Children,2002,43.050927,-90.367044,200.891752,33.0,West Africa
8,BEN,Benin,admin0,Mortality Rate,Deaths per 100 Thousand,2002,119.887886,178.479223,203.283922,22.0,West Africa
9,BEN,Benin,admin0,Incidence Rate,Cases per Thousand,2003,466.337019,288.977597,209.758611,3.0,West Africa

## Prepare Final Dataset for Power BI

**Description:**  
The objective of this stage is to produce a clean, well-structured, analysis-ready CSV file suitable for import into Power BI.  
The steps include:

1. Retaining only relevant analytical columns.  
2. Ensuring that each column has the correct data type (numeric, categorical, date).  
3. Removing unnecessary or duplicate rows.  
4. Exporting the cleaned dataset as a final CSV file for visualization in Power BI.

## 16. **Keep only necessary columns**

**Description:**  
This block removes non-informative fields such as administrative level and unit descriptors, which remain constant throughout the dataset and do not contribute to analytical insight. The resulting dataset retains only the columns required for meaningful analysis and visualization.

In [20]:
df_final = df_wa[['ISO3', 'Name', 'Region', 'Year', 'Metric', 'Value',
                  'pct_change', 'rolling_avg_3yr', 'rank_in_west_africa']]
df_final.head()

,ISO3,Name,Region,Year,Metric,Value,pct_change,rolling_avg_3yr,rank_in_west_africa
0,BEN,Benin,West Africa,2000,Incidence Rate,412.950363,NaN,NaN,9.0
1,BEN,Benin,West Africa,2000,Infection Prevalence,36.705707,-91.111351,NaN,37.0
2,BEN,Benin,West Africa,2000,Mortality Rate,101.213010,175.741891,183.623027,25.0
3,BEN,Benin,West Africa,2001,Incidence Rate,428.793522,323.654551,188.904079,7.0
4,BEN,Benin,West Africa,2001,Infection Prevalence,39.699359,-90.741614,189.901963,36.0

## 17. **Convert data types**

**Description:**  
This block enforces correct data types for all numerical fields to ensure that Power BI can accurately aggregate, compute, and visualize the measures without errors or implicit conversions.

In [21]:
df_final['Year'] = df_final['Year'].astype(int)
df_final['Value'] = df_final['Value'].astype(float)
df_final['pct_change'] = df_final['pct_change'].astype(float)
df_final['rolling_avg_3yr'] = df_final['rolling_avg_3yr'].astype(float)
df_final['rank_in_west_africa'] = df_final['rank_in_west_africa'].astype(int)

C:\Users\DELL\AppData\Local\Temp\ipykernel_21072\1592421788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Year'] = df_final['Year'].astype(int)
C:\Users\DELL\AppData\Local\Temp\ipykernel_21072\1592421788.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Value'] = df_final['Value'].astype(float)
C:\Users\DELL\AppData\Local\Temp\ipykernel_21072\1592421788.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['pct_change'] = df_final['pct_change'].astype(float)
C:\Users\DELL\AppData\Local\Temp\ipykernel_21072\1592421788.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['rolling_avg_3yr'] = df_final['rolling_avg_3yr'].astype(float)
C:\Users\DELL\AppData\Local\Temp\ipykernel_21072\1592421788.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['rank_in_west_africa'] = df_final['rank_in_west_africa'].astype(int)

## 18. **Sort dataset for readability**

**Description:**  
This block sorts the dataset by Year and Country to enhance clarity, maintain a logical sequence, and ensure that downstream analyses and Power BI visuals follow a consistent chronological and geographic order.

In [22]:
df_final = df_final.sort_values(by=['Year', 'Name']).reset_index(drop=True)
df_final.head(10)

,ISO3,Name,Region,Year,Metric,Value,pct_change,rolling_avg_3yr,rank_in_west_africa
0,BEN,Benin,West Africa,2000,Incidence Rate,412.950363,NaN,NaN,9
1,BEN,Benin,West Africa,2000,Infection Prevalence,36.705707,-91.111351,NaN,37
2,BEN,Benin,West Africa,2000,Mortality Rate,101.213010,175.741891,183.623027,25
3,BFA,Burkina Faso,West Africa,2000,Incidence Rate,588.456457,NaN,NaN,1
4,BFA,Burkina Faso,West Africa,2000,Infection Prevalence,69.923718,-88.117435,NaN,27
5,BFA,Burkina Faso,West Africa,2000,Mortality Rate,263.223100,276.443225,307.201092,14
6,CPV,Cape Verde,West Africa,2000,Incidence Rate,0.858759,NaN,NaN,40
7,CPV,Cape Verde,West Africa,2000,Infection Prevalence,0.034456,-95.987746,NaN,42
8,CPV,Cape Verde,West Africa,2000,Mortality Rate,0.266848,674.470907,0.386688,41
9,CIV,Côte d'Ivoire,West Africa,2000,Incidence Rate,488.302023,NaN,NaN,2

## 19. **Export the dataset to CSV**

**Description:**  
This block saves the cleaned and fully prepared dataset as a CSV file. This exported file will serve as the analysis-ready dataset that you will load into Power BI for visualization and dashboard development.

In [23]:
output_path = r"C:\Users\DELL\Desktop\National_unit_dataset\malaria_west_africa_cleaned.csv"
df_final.to_csv(output_path, index=False)
output_path

'C:\\Users\\DELL\\Desktop\\National_unit_dataset\\malaria_west_africa_cleaned.csv'